:root{
	--menu-red: rgb(227, 56, 56);
	--menu-item-color: rgb(172, 170, 170);
	--grey-border: solid rgb(128, 128, 128);
	--detail-border-menu: solid rgb(221, 221, 221);
}


body{
	padding: 0;
	margin: 0;
	font-family: Amatic SC;
}

button{
	font-family: Amatic SC;
}

nav.Navbar{
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.85);
	z-index: 999;
}

@media (max-width: 425px){
	nav.Navbar{
		justify-content: space-around;
	}
}

nav.Navbar button{
    padding: 15px;
	margin: 0 5px;
    text-decoration: none;
	background-color: transparent;
	border: none;
    color: white;
    transition-duration: 0.6s;
}

nav.Navbar button a {
    color: white;
	text-decoration: none;
	font-family: Amatic SC;
	font-size: 1.4em;
}
nav.Navbar button:hover{
    transform: scale(1.1);
}

.Home{
    width: 100%;
	background-color: aqua;
}

.Home .HomeInfos{
	background-image: url("./assets/pizza 1.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 65vh;
	max-height: 800px;
	margin: 0 auto;
    display: grid;
	grid-template-rows: 90% 10%;
	grid-template-columns: 33% 33% 33%;
	justify-content: center;
	align-items: center;
	text-align: center;
	filter: grayscale(55%);
}

.Home .HomeInfos div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: white;
	grid-row: 1;
	grid-column: 2;
}

.Home .HomeInfos div .Description,
.Home .HomeInfos div button{
	margin: 5px;
}

.Home .HomeInfos div .Description span{
	font-size: 48px;
	margin: 15px;
	text-shadow: 0.1em 0.1em 0.3em black;
	font-size: 4.5em;
}

.Home .HomeInfos div .Description span + span{
	white-space: nowrap;
}

.Home .HomeInfos div button{
	height: 50px;
	width: 200px;
	background-color: transparent;
	border: none;
	transition: 0.6s;
}

.Home .HomeInfos div button a{
	font-family: Amatic SC;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: white;
	text-decoration: none;
	font-weight: 500;
	font-size: 2em;
}

.Home .HomeInfos div button:hover{
	transform: scale(1.1);
}

.Home .HomeInfos .OpeningHours{
	position: absolute;
	bottom: 5px;
	left: 15px;
	display: flex;
	width: fit-content;
	background-color: black;
	color: white;
	padding: 7px 10px;
	font-size: 1.1em;
	justify-content: flex-start;
}

.Menu{
	background-color: black;
	padding-bottom: 5%; 
}
.MenuTitle{
	color: white;
	text-align: center;
	padding-top: 1em; 
	padding-bottom: 1em; 
	margin: 0px;   
	font-size: 3em ;  
}

#MenuWraper{
	margin: 0 20% 0 20%;
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: white;
	border: 1px white;
	font-size: 1.3em; 
	border: 0.07em var(--grey-border);
}

.MenuButtons{
	color: white;
	background-color: black;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	transition: 0.6s;
}
	
.MenuItems{
	grid-column-start: 1;
	grid-column-end: 4;  
}

.MenuItemList{
	list-style: none;
}

.MenuItemList li{
	border-bottom: 0.07em var(--detail-border-menu);
	margin-right: 2%;
}

.PriceTags{
	float:right;
	background-color:grey;
	color: white;
	margin-right: 0.5em;
	padding: 3px;
	transition: 0.6s;
	cursor: pointer;
}

.PriceTags:hover{
	transform: scale(1.1);
}

.MenuItemTagHot{
	background-color: var(--menu-red);
	color: white;
	margin-left: 0.5em;
	padding: 2px;
}

.MenuItemTagGrey{
	background-color: var(--menu-item-color);
	color:black;
	margin-left: 0.5em;
	padding: 2px;
}

@keyframes fade-in-menu-item {
	from {
		transform: translate3d(0,-10%,0) ;
		visibility: hidden;
		opacity: 0;
	}
	to {
		transform: translate3d(0,0,0) ;
		visibility: visible;
		opacity: 1;
	}
}


.Contacts{
	background-color: grey;
}

#ContactsTitle{
	padding-top: 15px;
	text-align: center;
}

.ContactsText{
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

.ContactsForm{
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	padding-bottom: 20px;
}

.ContactsFormField input, .ContactsFormField textarea{
	border-radius: 5px;
	background-color: #C4C4C4;
	border: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-bottom: 7px;
	width: 100%;
	resize: none;
	font-family: Amatic SC;
}

.SubmitButton{
	text-align: center;
	background-color: #C4C4C4;
	border: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-bottom: 7px;
	width: 100%;
	border-radius: 5px;
	transition-duration: 0.3s;
	cursor: pointer;
}

.SubmitButton:hover{
	background-color: #626262;
	color: white;
}